<div class="registerContainer">
  <div class="formContainer">
    <h1 class="registerHead">Register</h1>
    <form
      [formGroup]="registryForm"
      (submit)="checkPasswords(registryForm)"
      class="formClass"
    >
      <input
        type="text"
        placeholder="User name"
        name="username"
        [formControl]="userName"
      />
      <br />
      <input
        type="email"
        placeholder="Email"
        name="email"
        [formControl]="email"
      />
      <br />
      <input
        type="password"
        placeholder="Password"
        name="password"
        [formControl]="password"
      />
      <br />
      <input
        type="Password"
        placeholder="Confirm Password"
        name="confirmPassword"
        [formControl]="confirmpassword"
      />
      <br />
      <input type="submit" value="Continue" />
    </form>
  </div>
  <div class="marketDescriptionContainer">
    <div class="marketDescription">
      Brownie gingerbread danish sweet donut tootsie roll. Chocolate chocolate
      cake sweet I love. Gummies tootsie roll fruitcake pie pudding fruitcake
      tiramisu pie. Biscuit jelly donut. Chocolate dessert I love. Donut
      macaroon dragée I love ice cream. Jelly-o cake cheesecake lemon drops
      chupa chups candy canes bonbon. Soufflé cotton candy chocolate cake
      pudding jelly-o ice cream jelly beans. Powder liquorice I love bonbon
      tiramisu cookie wafer pie. Cake marzipan sugar plum jelly beans. Soufflé
      carrot cake sesame snaps I love. I love chupa chups I love marshmallow
      cheesecake apple pie. Bear claw chocolate chupa chups chocolate bar
      jelly-o topping icing. I love I love apple pie macaroon croissant. Donut
      chupa chups biscuit sesame snaps.
    </div>
  </div>
</div>
