<div class="headerContainer">
  <div class="logoContainer">
    <button class="logoButton" (click)="onLogoClicked()">
      <img
        src="../../../assets/sfelu1cyontr62c9mvap.png"
        class="logo"
        alt=""
        srcset=""
      />
    </button>
  </div>
  <div class="loginContainer">
    <input
      type="button"
      *ngIf="usersService.isNotLoggedIn == false"
      (click)="signOut()"
      value="SignOut"
    />
    <input
      type="button"
      *ngIf="usersService.userIsAdmin == true"
      value="Add a product"
      (click)="openModalForAddProduct()"
    />
    <form *ngIf="usersService.isNotLoggedIn == true">
      <input
        type="text"
        placeholder="User name"
        name="username"
        [(ngModel)]="userLoginDetails.userName"
      />
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="userLoginDetails.password"
      />
      <input type="button" (click)="login()" value="Login" />
    </form>
  </div>
</div>

<div *ngIf="showModal" class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add product</h4>
        <button
          (click)="closeModal()"
          type="button"
          class="close"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>

      <div class="modal-body">
        <form
          [formGroup]="addProductDetailsForm"
          class="formClass"
          (submit)="addProduct()"
        >
          <input
            name="name"
            [formControl]="name"
            type="text"
            placeholder="Product Name"
          />
          <input
            name="price"
            [formControl]="price"
            type="text"
            placeholder="Price"
          /><br />
          <input
            name="description"
            [formControl]="description"
            type="text"
            placeholder="Description"
          /><br />
          <select
            [formControl]="category"
            name="category"
            placeholder="Choose Caterogy"
            class="categorySelect"
          >
            <option value="" selected disabled hidden>Choose category</option>
            <option
              *ngFor="let category of this.categoriesService.categories"
              value="{{ category.category_name }}"
              name="category"
            >
              {{ category.category_name }}
            </option>
          </select>
          <input type="submit" value="add" class="btn btn-danger" />
        </form>
        <div style="text-align: center; margin-top: 100px">
          <mat-card style="margin-top: 10px; width: 50%">
            <mat-card-content>
              <img
                *ngIf="imageExists"
                class="imageSize"
                [src]="this.uploadedImageName"
              />
            </mat-card-content>
            <mat-card-actions>
              <button
                class="uploadImage"
                mat-button
                color="warn"
                (click)="onClick()"
              >
                Upload image
              </button>
            </mat-card-actions> </mat-card
          ><input
            type="file"
            #fileUpload
            id="fileUpload"
            name="fileUpload"
            multiple="multiple"
            accept="image/*"
            style="display: none"
          />
        </div>
      </div>
    </div>
  </div>
</div>
