<div class="mainWrapper">
  <div class="productsContainer">
    <div
      *ngFor="let product of productService.products"
      class="col-lg-2 col-md-3 mb-12 productCardDesign"
    >
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="" />
        <div class="card-body">
          <h4 class="card-title">
            <span>{{ product.product_name }}</span>
          </h4>
          <h5>{{ product.unit_price }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button
            class="editBtn"
            data-toggle="modal"
            data-target="#myModal"
            type="button"
            (click)="openModalForEdit(product)"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div *ngIf="showModal" class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="editProductDetailsForm"
          class="formClass"
          (submit)="editProduct()"
        >
          <input
            type="text"
            name="name"
            [formControl]="name"
            value="{{ productForEdit.product_name }}"
          />
          <input
            type="text"
            name="price"
            [formControl]="price"
            id=""
            value="{{ productForEdit.unit_price }}"
          />
          <input
            type="text"
            name="description"
            [formControl]="description"
            id=""
            value="{{ productForEdit.description }}"
          /><br />
          <select
            [formControl]="category"
            name="category"
            placeholder="Choose Caterogy"
            class="categorySelect"
          >
            <option value="" selected disabled hidden>Choose category</option>
            <option
              *ngFor="let category of this.categoriesService.categories"
              value="{{ category.category_name}"
              name="category"
            >
              {{ category.category_name }}
            </option>
          </select>
          <input type="submit" value="add" class="btn btn-danger" />
        </form>
      </div>
    </div>
  </div>
</div>
