<div class="mainWrapper">
  <div class="cartSection">
    <div class="cartItems">
      <table class="table table-old">
        <thead class="bg-primary white-text">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>

        <tbody *ngIf="this.cartService.total != 0" class="bg-success text-dark">
          <tr
            *ngFor="let product of cartService.usersCart"
            data-toggle="modal"
            data-target="#myModal"
            class="itemRow"
          >
            <td>{{ product.product_name }}</td>
            <td>{{ product.unit_price }}</td>
            <td>{{ product.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h6 class="totalPrice">Total Price: {{ this.cartService.total }}</h6>
    <input
      type="button"
      class="submitButton"
      value="order"
      (click)="onOrderClicked()"
    />
  </div>
  <div class="productsContainer">
    <div class="categoryContainer">
      <button (click)="showAllProducts()">All Products</button>
    </div>
    <div
      *ngFor="let category of categoriesService.categories"
      class="categoryContainer"
    >
      <button
        (click)="onCategoryClicked(category.id)"
        *ngIf="!isCategoryNotShown"
      >
        {{ category.category_name }}
      </button>
    </div>
    <br />
    <div
      *ngFor="let product of productService.products | categoryPipe: categoryID"
      class="col-lg-2 col-md-3 mb-12 productCardDesign"
    >
      <div class="card h-100">
        <a href="#"
          ><img class="card-img-top" src="http://placehold.it/700x400" alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ product.product_name }}</a>
          </h4>
          <h5>{{ product.unit_price }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <input
            type="button"
            class="addToCart"
            value="+"
            (click)="addToCart(product)"
          />
          &nbsp;&nbsp;&nbsp;
          <input
            type="button"
            value="-"
            (click)="deleteItemFromCart(product)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
