section {
  max-height: 100%;
  min-height: 100%;
  border: 2px solid black;
  background-color: rgba(177, 221, 235, 0.596);
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columns */
  grid-template-rows: 10% 80% 10%; /* 3 rows */
}

section > * {
  border: 2px solid black;
}

header,
footer {
  grid-column: span 12;
}

main {
  grid-column: span 12;
}
