.productsContainer {
  border: 2px solid black;
  width: 100%;
  top: 20;
  flex-wrap: nowrap wrap wrap-reverse;

  position: static;
  overflow: scroll;
  overflow-x: hidden;
}
.bg-primary-new {
  background-color: rgb(212, 212, 212);
}
.bg-success-new {
  background-color: rgb(179, 206, 241);
}
.productCardDesign {
  margin: 2%;
  margin-left: 5%;
  display: inline-block;
}
.mainWrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.cartSection {
  width: 20%;
  border: 2px solid black;
  top: 20;
  position: relative;
}
.productName {
  font-size: medium;
  cursor: default;
}
.categoryContainer {
  max-width: 100;
  margin-top: 3%;

  top: 0%;
  z-index: 2;
  display: inline-block;
}
.submitButton {
  position: absolute;
  right: 50%;
  bottom: 5%;
}
.totalPrice {
  position: absolute;
  right: 45%;
  bottom: 10%;
}

.cartItems {
  width: 100%;
  height: 80%;
  top: 20;
  flex-wrap: nowrap wrap wrap-reverse;

  position: static;
  overflow-y: auto;
  overflow-x: hidden;
}
.itemRow {
  width: 100%;
  height: 5%;
  border: 2px solid black;
}

.imageSize {
  width: 120px;
  height: 100px;
}
.pipeButtons {
  margin-left: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.allCategoriesContainer {
  width: 100%;
}
